<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Itbank</title>
  <style>
    form {
      filter: grayscale(100%);
    }
  </style>
</head>
<body>
  <h2>Login User</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" name="login">Login</button>
  </form>
  <section>
    <p>Don't have an account? <a href="{% url 'register' %}">Register here</a></p>
  </section>
</body>
</html>